.btn {
  color: white;
  font-size: 17px;
  line-height: 138.9%;
  width: 243px;
  height: 68px;
  background: rgb(110, 156, 159);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background: rgb(80, 148, 152);
  }

  @media(max-width: 768px) {
    height: 48px;
  }
}

.transparent {
  border: 1px solid rgb(110, 156, 159);
  width: 243px;
  height: 68px;
  color: rgb(110, 156, 159);
  font-size: 17px;
  font-weight: 400;
  line-height: 138.9%;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background: rgb(110, 156, 159);
    color: white;
  }
  @media(max-width: 768px) {
    height: 48px;
  }
}

.input {
  color: rgb(134, 134, 134);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  border: 0;
  border-bottom: 1px solid black;
  display: block;
  width: 350px;
  outline: none;
  padding-bottom: 10px;
  @media(max-width: 768px) {
    width: 100%;
  }
}

.textarea {
  color: rgb(134, 134, 134);
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  border: 0;
  border-bottom: 1px solid black;
  width: 350px;
  resize: none;
  outline: none;
  min-height: 134px;
}