@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: black;
  font-size: 55px;
  font-weight: 500;
  line-height: 110%;
}

h2 {
  color: black;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}

h3 {
  color: black;
  font-size: 25px;
  font-weight: 500;
  line-height: 140%;
}

.no-scroll {
  overflow: hidden;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  display: block;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-pagination {
  bottom: 56px !important;

  &-bullet {
    width: 30px !important;
    height: 4px !important;
    opacity: 1 !important;
    border-radius: 0 !important;
  }
}

.receipts {
  .swiper-pagination-bullet {
    background: rgb(209, 209, 209) !important;

    &-active {
      background: rgb(0, 0, 0) !important;
    }
  }
}